@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,400i,500,600,700&display=swap");

/* Common  Styles*/
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Titillium Web", sans-serif;

   /* outline: solid 1px red;  */
}
html {
  font-size: 62.5%;
  cursor: default;
  scroll-behavior: smooth;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  background-color: #ffffff;
  overflow: scroll; /* Show scrollbars */
  overflow-x: hidden;

}
.section {
  height: auto;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: #eee;
}
.section-heading {
  font-size: 1.5rem;
  margin: 0 auto;
  margin-top: 5rem;
  width: 10rem;
  text-align: center;
  font-weight: 500;
  background-color: #ffdd00;
  color: black;
}

.section-heading-two {
  font-size: 4rem;
  font-weight: 600;
  color: #eee;
  margin-bottom: 5rem;
}

.pointer:hover {
  cursor: pointer;
}

a {
  color: black;
}
.bold {
  font-weight: bold;
}

/* End of Common Styles */

/* Start of Navbar */
.navbar {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 5;
  justify-content: space-between;
}

.navbar-logo:nth-of-type(1) img {
  height: 5.2rem;
  width: 12.5rem;
  position: absolute;
  top: 0;
}
.navbar-logo:nth-of-type(2) img {
  height: 8rem;
  width: 7.8rem;
}

.parallelogram {
  text-align: center;
  font-size: 10px;
  background: linear-gradient(65deg, transparent 50%, rgba(0, 0, 0, 0.8) 50%)
      left no-repeat,
    linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)) 30px 0
      no-repeat;

  background-size: 30px 100%, 100% 100%;
  width: 283px;
  height: 37px;
  line-height: 12px;
  padding: 0 22px;
  color: rgba(255, 255, 255, 0.747);
  margin-bottom: 4.3rem;
  top: 0;
  justify-content: space-evenly;
}
.login {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.login i:hover {
  color: aqua;
}

/*  End of Navbar */

/* Start of Home */
/* End of Home */

/* Start of Footer */
.footer {
  width: 100%;
  /* height: 15rem; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  /* padding: 4rem 0 3rem 0; */
}
.footer-middle {
  width: 100%;
  display: flex;
  justify-content:space-between;
  padding: 2rem 2rem 0rem 2rem;
}
.footer-middle-right {
  display: flex;
}
.game-text {
  padding:  0rem 2rem 2rem 2rem;

}
.copyright {
  font-size: 1.15rem;
}

.footer-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-top: 0.1rem solid #dddddd;
}

.footer-list {
  display: flex;
  margin-right: 2rem;
}

.footer-list li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px 0px 12px;
}

.footer-list li i {
  font-size: 2rem;
  color: #000000;
}

.footer-list a {
  font-size: 1.2rem;
  font-weight: 600;
  color: #262626;
  display: inline-block;
  position: relative;
}

.footer-list a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: -5px;
  left: 0;
  background-color: #4e4e4e;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

.footer-list a:hover::after {
  transform: scaleX(1);
}
/* .footer-list img {
  width: 3.8rem;
  opacity: 0.6;
}  */
/* End of Footer */
