@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,400i,700&display=swap");

/* Common  Styles*/
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Titillium Web", sans-serif;

  /* outline: solid 1px red; */
}
html {
  font-size: 62.5%;
  cursor: default;
  scroll-behavior: smooth;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  background-color: #ffffff;
  overflow: scroll; /* Show scrollbars */
}
.section {
  height: auto;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: #eee;
}
.section-heading {
  font-size: 1.5rem;
  margin: 0 auto;
  margin-top: 5rem;
  width: 10rem;
  text-align: center;
  font-weight: 500;
  background-color: #ffdd00;
  color: black;
}

.section-heading-two {
  font-size: 4rem;
  font-weight: 600;
  color: #eee;
  margin-bottom: 5rem;
}

.pointer:hover {
  cursor: pointer;
}

a {
  color: white;
}
/* End of Common Styles */

/* Start of Navbar */
.navbar {
  width: 100%;
  position: fixed;
  z-index: 5;
  justify-content: space-between;
}

.navbar-logo:nth-of-type(1) img {
  height: 5.2rem;
  width: 12.5rem;
  position: absolute;
  top: 0.025rem;
}
.navbar-logo:nth-of-type(2) img {
  height: 8rem;
  width: 7.8rem;
}

.parallelogram {
  text-align: center;
  font-size: 10px;
  background: linear-gradient(65deg, transparent 50%, rgba(0, 0, 0, 0.8) 50%)
      left no-repeat,
    linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)) 30px 0
      no-repeat;

  background-size: 30px 100%, 100% 100%;
  width: 280px;
  height: 35px;
  line-height: 60px;
  padding: 0 20px;
  color: rgba(255, 255, 255, 0.747);
  margin-bottom: 4.46rem;
  position: relative;
  justify-content: space-evenly;
}

/*  End of Navbar */

/* Start of Home */
